{% extends "base.html" %}
{% block title %} Barajas {% endblock %}
{% block content %}
<section class="inicio text-center page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">BARAJAS</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <p><button onclick="window.location='{% url 'pam:CBara' %}'">Crear baraja</button><p>
      <br>
      {% for baraja in object_list %}
      <div style="display:flex; justify-content:center; padding-bottom:1rem;">
      {{ baraja }}&nbsp&nbsp
        <form action="{% url 'pam:AñaBara' %}" method="get">
            <input name='q' type="hidden" name="text" value="{{ baraja.id }}" >
            <input type='submit' value='Añadir carta'></input>
            <br>
        </form>&nbsp
        <form action="{% url 'pam:EliBaraC' %}" method="get">
          <input name='q' type="hidden" name="text" value="{{ baraja.id }}" >
          <input type='submit' value='Eliminar cartas'></input>
          <br>
      </form>&nbsp
        <a href="{% url 'pam:DBara' baraja.id  %}"><input type='submit' value='Eliminar  baraja'></input></a>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}